<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<strong style="font-size:18px;color:#54c1ec">Good day [name]</strong>, <br><br>
	You have been successfully activated to be able to log into your system.<br /><br />
	Below are your log in details:<br /><br />
	<table width="50%">
		<tr><td>Username</td><td>[email]</td>
		<tr><td>Password</td><td>[password]</td>
	</table>
	<br />
	[browser]
	<br />
	<p><strong>Kind Regards</strong><br><strong style="color:#fe7676">DesignerBase Team</strong></p>
	[track]
</body>
</html>